parameters:
	level: 6
	paths:
		- classes
		- includes
		- uninstall.php
	bootstrapFiles:
		- tests/bootstrap.php
		- phpstan-bootstrap.php
	excludePaths:
		- vendor
		- node_modules
		- tests
		- assets
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	scanFiles:
		- secondary-title.php
		- uninstall.php
